@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --text-color: #333;
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background));
}
